.bg-default {
    background-color: #707070;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-primary {
    color: #fff !important;
    background-color: #D23232 !important;
    border-color: #D23232 !important;
}

.pattern-border {
    border: 1px solid #707070;
}

.text-grey {
    color: #868E96;
}

.SocialLogin-Google {
    width: 80%;
    padding: 5px 6px 5px 6px;
    border: 0;
    border-radius: 3px;
}